<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python313\python.exe|‪D:\Python313\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<httpErrors errorMode="Detailed" />
		<security>
		  <requestFiltering>
			<hiddenSegments>
			  <remove segment="bin" />
			</hiddenSegments>
		  </requestFiltering>
		</security>
	</system.webServer>
	
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\JinRiYiSvr" />
		<add key="DJANGO_SETTINGS_MODULE" value="JinRiYiSvr.settings" />
		<add key="WSGI_LOG" value="C:\inetpub\wwwroot\JinRiYiSvr\error.log" />
	</appSettings>
</configuration>
 